.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 10rem;
}

.container2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.sadBear {
    max-width: 7rem;
}

.twoButtons {
    display: flex;
    justify-content: space-between;
}




.funButtonsGrid{

}